Flow4.json
[{"id":"f27aa94a.60a5c8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"83494fc4.10f4c","type":"http in","z":"f27aa94a.60a5c8","name":"GPIO","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":200,"y":320,"wires":[["a49f7d6e.72123"]]},{"id":"29f02f9b.2f1fb","type":"rpi-gpio in","z":"f27aa94a.60a5c8","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":400,"wires":[["9a0f261d.7d1498"]]},{"id":"9a0f261d.7d1498","type":"function","z":"f27aa94a.60a5c8","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["10fea3c9.d3d3fc"]]},{"id":"a49f7d6e.72123","type":"function","z":"f27aa94a.60a5c8","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["4f30d01e.4462a","10fea3c9.d3d3fc"]]},{"id":"4f30d01e.4462a","type":"http response","z":"f27aa94a.60a5c8","name":"","statusCode":"","headers":{},"x":550,"y":320,"wires":[]},{"id":"10fea3c9.d3d3fc","type":"debug","z":"f27aa94a.60a5c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":400,"wires":[]}]