Flow1.json
[{"id":"7f29006c.27db9","type":"tab","label":"Flow1","disabled":false,"info":""},{"id":"18c99ecd.bdb2e1","type":"rpi-gpio in","z":"7f29006c.27db9","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":120,"y":180,"wires":[["e9f06d0f.7ce05","94e3fa8e.925068"]]},{"id":"f6b853cd.22f1e","type":"rpi-gpio out","z":"7f29006c.27db9","name":"led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":570,"y":320,"wires":[]},{"id":"e9f06d0f.7ce05","type":"debug","z":"7f29006c.27db9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":160,"wires":[]},{"id":"94e3fa8e.925068","type":"switch","z":"7f29006c.27db9","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":320,"wires":[["e3901f11.f7b33"],["e3940d0b.58963"]]},{"id":"e3901f11.f7b33","type":"change","z":"7f29006c.27db9","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":280,"wires":[["f6b853cd.22f1e"]]},{"id":"e3940d0b.58963","type":"change","z":"7f29006c.27db9","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["f6b853cd.22f1e"]]}]