Flow2.json
[{"id":"f55713cd.a47af","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c3119e82.ea8c3","type":"inject","z":"f55713cd.a47af","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":180,"wires":[["8f60ea07.70d498"]]},{"id":"8f60ea07.70d498","type":"function","z":"f55713cd.a47af","name":"Payload","func":"msg.headers={\n    deviceKey:\"vIP08oYXGUGQPAn9\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":180,"wires":[["4fcbd05b.2569"]]},{"id":"4fcbd05b.2569","type":"http request","z":"f55713cd.a47af","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/Dg2VIGT9/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":180,"wires":[["53db08f.ee044f8","9b6c1965.355d08"]]},{"id":"53db08f.ee044f8","type":"http response","z":"f55713cd.a47af","name":"","statusCode":"","headers":{},"x":880,"y":300,"wires":[]},{"id":"9b6c1965.355d08","type":"debug","z":"f55713cd.a47af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1190,"y":260,"wires":[]}]