Flow3.json
[{"id":"909d3d78.4426","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"c9bf54f4.1ca028","type":"inject","z":"909d3d78.4426","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["5ebd588e.6cab08"]]},{"id":"5ebd588e.6cab08","type":"function","z":"909d3d78.4426","name":"Payload","func":"msg.headers={\n    deviceKey:\"vIP08oYXGUGQPAn9\"\n};\nmsg.payload=\"Temperature,,12\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["5fee0b17.3bf704"]]},{"id":"5fee0b17.3bf704","type":"http request","z":"909d3d78.4426","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/Dg2VIGT9/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":180,"wires":[["1c70aa13.03b116","c7a1e3ea.1b3af"]]},{"id":"1c70aa13.03b116","type":"http response","z":"909d3d78.4426","name":"","statusCode":"","headers":{},"x":820,"y":180,"wires":[]},{"id":"c7a1e3ea.1b3af","type":"debug","z":"909d3d78.4426","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":300,"wires":[]}]