Flow5.json
[{"id":"4dc0ef3e.de231","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"1293df5c.1921a1","type":"http in","z":"4dc0ef3e.de231","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":210,"y":240,"wires":[["a6bf724c.c2d85","2a9b52f4.5fb0de"]]},{"id":"a6bf724c.c2d85","type":"function","z":"4dc0ef3e.de231","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["6fb5bed5.6282e"]]},{"id":"6fb5bed5.6282e","type":"rpi-gpio out","z":"4dc0ef3e.de231","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":600,"y":280,"wires":[]},{"id":"2a9b52f4.5fb0de","type":"function","z":"4dc0ef3e.de231","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["b17a8163.21f6c","303f40bb.6dfc"]]},{"id":"b17a8163.21f6c","type":"http response","z":"4dc0ef3e.de231","name":"","statusCode":"","headers":{},"x":830,"y":120,"wires":[]},{"id":"303f40bb.6dfc","type":"debug","z":"4dc0ef3e.de231","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":260,"wires":[]},{"id":"a2bafac0.8c3298","type":"http in","z":"4dc0ef3e.de231","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":190,"y":440,"wires":[["d65001c5.48886","93895ae7.107048"]]},{"id":"d65001c5.48886","type":"function","z":"4dc0ef3e.de231","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["6fb5bed5.6282e"]]},{"id":"93895ae7.107048","type":"function","z":"4dc0ef3e.de231","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["303f40bb.6dfc","b17a8163.21f6c"]]}]